<div class="col-md-12 col-xs-12">
    &nbsp;</div>
<div class="col-md-12 hidden-xs">&nbsp;</div>
<div class="col-md-12 col-xs-12">
    <div class="col-md-1 hidden-xs">&nbsp;</div>
    <div class="col-md-10 col-xs-12 text-center">
        <h2>Bienvenid@ a HomeID</h2>
    </div>
    <div class="col-md-1 col-xs-12">&nbsp;</div>
</div>
<div class="col-md-12 col-xs-12">
    <div class="col-md-1 hidden-xs">&nbsp;</div>
    <div class="col-md-10 col-xs-12 text-center">
        <p>{{qc.message}}</p><br>
        <p>{{qc.description}}</p>
    </div>
    <div class="col-md-1 col-xs-12">&nbsp;</div>
</div>