<div class="row">
    <div class="body">
        <div class="col-md-12">
            <div class="col-md-12 hidden-xs">&nbsp;</div>
            <div class="col-md-12 no-padding">
                <div class="col-md-1 hidden-xs">&nbsp;</div>
                <div class="col-md-10 col-xs-12 no-padding border-left-decorate">
                    <label class="user-name">Bienvenid@ {{uc.name}}</label>
                </div>
                <div class="col-md-1 hidden-xs">&nbsp;</div>
            </div>
            <div class="col-md-12 col-xs-hidden no-padding">
                <div class="col-md-12 hidden-xs">&nbsp;</div>
                <div class="col-md-1 hidden-xs">&nbsp;</div>
                <div class="col-md-10 col-xs-12">
                    <form class="col-md-12 col-xs-12">
                        <div class="form-group col-md-2 col-xs-12 text-right">
                            <label>De</label>
                        </div>
                        <div class="form-group col-md-3 col-xs-12 text-left">
                            <div class="input-group date" id="initDate">
                                <input type='text' class=" form-control" id="initDateValue" ng-model="uc.initDate" />
                                <span class="input-group-addon ">
                                    <span class="glyphicon glyphicon-calendar "></span>
                                </span>
                            </div>
                        </div>
                        <div class="form-group col-md-2 col-xs-12 text-right ">
                            <label>Hasta</label>
                        </div>
                        <div class="form-group col-md-3 col-xs-12 text-left ">
                            <div class="input-group date" id="endDate">
                                <input type='text' class="form-control" id="endDateValue" ng-model="uc.endDate" />
                                <span class="input-group-addon ">
                                    <span class="glyphicon glyphicon-calendar "></span>
                                </span>
                            </div>
                        </div>
                        <div class="col-md-2 col-xs-12">
                            <input type="button" class="btn btn-success" value="Generar" ng-click="uc.generate()">
                        </div>
                        <div class="col-md-12 col-xs-12">&nbsp;</div>
                        <div class="col-md-12 col-xs-12 text-center" ng-if="uc.generated">
                            <qr ng-if="uc.generated" text="uc.qrText" type-number="4" correction-level="'H'" size="200" input-mode="'Auto'" image="true"></qr>
                        </div>
                    </form>
                </div>
                <div class="col-md-1 hidden-xs ">&nbsp;</div>
            </div>
        </div>
    </div>
</div>